<html lang="en">

<!-- HTML Genereted by GreyMoon Web Services (TRADEMARK) (COPYRIGHT) -->

<head>
    {{>META}}

    <title> The Dressmaker Movie </title>

    {{>CSS name="boilerplate"}}
</head>

<body style="
        background-image: url({{URL}}public/background.jpg);
        background-size: cover;
    ">

    {{!-- Ignore this below comment. --}}
    <!--
        NOTICE:
        All works is designated to be the property of the true owner!
        You SHALL NOT plagarize these codes.
        Thank you.
    -->

    <center>
        <div class="main">
            <div class="inner">
                <!-- Please put all code below this line. -->
                {{>@partial-block}}
                <!-- Please put all code above this line. -->

                <footer class="faint">
                    &copy; Copyright 2015
                </footer>
            </div>
        </div>
    </center>

    <!-- DO NOT PUT any code BELOW this line! -->
    <!-- it will BREAK the website! -->

</body>

</html>
