<!DOCTYPE html>
<html lang="en">

<head>
    {{>META}}

    <title> The Dressmaker Movie </title>

    {{!-- {{>ICON name="icon.png"}} --}}

    {{>CSS name="boilerplate"}}
</head>

<body style="
        background-image: url({{URL}}public/background.jpg);
        background-size: cover;
    ">

    <center>
        <div class="main">
            <div class="inner">
                {{>@partial-block}}

                <footer class="faint">
                    &copy; Copyright 2015
                </footer>
            </div>
        </div>
    </center>

</body>

</html>
