{{#>boilerplate}}

    <h1> <i>The Dressmaker</i> (2015) </h1>

    <p class="description">
        A bittersweet comedy about love, revenge, and haute couture. Based on the novel by Rosalie Ham.
    </p>

    <br />
    <div class="trailer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uPCyjqGH914" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <br />
        <i class="faint">
            <a href="https://youtu.be/uPCyjqGH914">
                Watch the trailer on YouTube
            </a>
        </i>
    </div>

    <br />
    <p class="narrow">
        <i>The Dressmaker</i> boasts a strong central performance by <i>Kate Winslet</i> and a captivating array of narrative weirdness &mdash; all of which may or may not be a comfortable fit with viewers.
    <p>

    <div class="shots">
        {{>shot n=0 text="Myrtle Dunnage"}}
        {{>shot n=1 text="Townspeople"}}
        {{>shot n=2 text="Seargent Farrat"}}
        {{>shot n=3 text="Myrtle and Teddy"}}
    </div>

    <br />
    <p class="narrow">
        Accused of murder when she was a child, a dressmaker (<i>Kate Winslet</i>) returns to her small Australian town to seek revenge on the locals who did her wrong. 
    </p>
    <p class="narrow">
        <b>Starring</b>
        <i>Kate Winslet</i>,
        <i>Judy Davis</i>, and
        <i>Liam Hemsworth</i>
    </p>

    <h3 class="underline"> <a href="{{>URL}}characters"> See all characters </a> </h3>

    <p>
        Learn more about <i>The Dressmaker (2015)</i>
        <a href="https://google.com/search?q=dressmaker+movie+2015"> <b class="underline">here</b> </a>
    </p>

{{/boilerplate}}
